OPENAI_API_KEY=""
# ANTHROPIC_API_KEY=""

# OPENAI_BASE_URL="https://api.openai.com/v1/"
# OPENAI_BASE_URL="http://localhost:8000/v1"   # vLLM

# OPENAI_SERVICE_TIER="flex"

# APPWORLD_ROOT="/absolute/path/to/appworld/data"
